<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="/public/style.css">

</head>
<body>






<h1>Welcome to Car Rental Portal</h1>
<div id='mainNav'>
<button class="main-buttons" onclick="window.location.href='../cust_add/';">
      Add Customer
    </button>

  <button class="main-buttons" onclick="window.location.href='../vehicle_add/';">
      Add Vehicle
    </button>
 
  <br><button class="main-buttons" onclick="window.location.href='./rental_add/';">
      Rent Vehicle
    </button>

  <button class="main-buttons" onclick="window.location.href='../search';">
      Search
    </button>
</div>


</body>
</html>
